<div class="container top-buffer-lg">
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag "pdf_header.png", alt: "SDSU/IPNI Logo", class: "img-responsive center-block" %>
    </div>
  </div>
</div>
