<% content_for :title, "Fertiliser Seed Calculator - Definitions" %>
<% content_for :description, "Definition of terms for the fertilizer and seed decision aid calculator." %>
<% content_for :keywords, "definitions, estimating fertilizer rates, estimating fertiliser rates, decision aid, fertilizer decision aid, fertiliser decision aid, fertilizer, fertilizer rates, fertilizer seed ratio, fertiliser, fertiliser rates, fertiliser seed ratio, fertiliser calculator, fertilizer calculator" %>
<%= currently_at 'Definitions' %>

<h1>Definitions</h1>

<h2>Soil Moisture</h2>
<p>...</p>

<h2>Soil Texture</h2>
<p>...</p>

<h2>Seed Furrow Opening</h2>
<p>Seed Furrow Opening is the planter seed-slot width.  For most row crop planters, a value of 1 inch is generally assumed. For drills, the width should be given in the equipment manual or measured at the opener.  It is assumed that fertilizer is spread within this width as well; therefore, the wider the value the less concentrated the fertilizer, and therefore less seed damage.</p>

<h2>Tolerated Stand Loss</h2>
<p>Tolerated Stand Loss (%) is the percent stand loss over typical stands when no fertilizer is applied with seed. For example, if 5% tolerated stand loss is entered, this would indicate a producer's tolerance of 5% maximum reduction in plant stand due to seed-placed fertilizer over the producer's typical stand without added fertilizer.  If, for example, 30,000 seeds are planted and a typical stand loss is 3%, we have 30,000 * 0.97 * 0.95 =27,645 :  (27,645 plants / 30,000) = 92% or an 8% tolerated stand reduction.<br />
The higher the value entered (in this case 5%), the more risk the producer is willing to take in stand reduction due to added seed-placed fertilizer.  Of course, corn is much more sensitive to stand reduction than soybean or small grain, which can partially compensate for lower stands.  Whereas stand reductions of greater than 5 to 10 % may cause yield reductions with corn, yield reductions with soybean or small grain may not occur until stand reductions are greater than 20 to 50% of seeds planted.</p>

<h2>Seed Bed Utilization</h2>
<p>Seed Bed Utilization (%) is...</p>