<%= currently_at 'Disclaimer' %>
<h1>Disclaimer</h1>

<h2>Terms and condition of use</h2>

<p>
  TO THE FULLEST EXTENT PERMITTED BY LAW, SDSU IS PROVIDING THIS SOFTWARE ON AN "AS IS" BASIS AND MAKES NO (AND EXPRESSLY DISCLAIMS ALL) REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESSED OR IMPLIED, WITH RESPECT TO THIS WEB SITE OR THE INFORMATION, CONTENT, MATERIALS OR PRODUCTS INCLUDED IN THIS SITE INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. IN ADDITION, SDSU DOES NOT REPRESENT OR WARRANT THAT THE INFORMATION ACCESSIBLE VIA THIS WEB SITE AND SOFTWARE IS ACCURATE, COMPLETE OR CURRENT. ANY RELIANCE UPON ANY INFORMATION INCLUDED ON OR FOUND THROUGH THIS WEB SITE AND SOFTWARE SHALL BE AT THE USER'S SOLE RISK. SDSU WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE AND SOFTWARE, INCLUDING BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL PUNITIVE AND CONSEQUENTIAL DAMAGES. SDSU RESERVES THE RIGHT TO CHANGE INFORMATION AVAILABLE ON THIS WEB SITE WITHOUT NOTICE.  SDSU MAKES NO WARRANTY THAT THE CONTENTS OF THE SITE, INCLUDING BUT NOT LIMITED TO SOFTWARE, ARE FREE FROM INFECTION BY VIRUSES OR ANYTHING ELSE WHICH HAS CONTAMINATING OR DESTRUCTIVE PROPERTIES, AND SHALL HAVE NO LIABILITY IN RESPECT THEREOF. THIS WEB SITE AND THE CONTENT AVAILABLE THROUGH IT ARE PROVIDED ON AN "AS IS"  AND "AS AVAILABLE" BASIS.  YOU EXPRESSLY AGREE THAT USE OF THIS WEB SITE AND/OR ITS CONTENT IS AT YOUR SOLE RISK.  SDSU DOES NOT MAKE ANY WARRANTY THAT THIS WEB SITE OR ITS CONTENT WILL MEET YOUR REQUIREMENTS, OR THAT THIS WEB SITE OR ITS CONTENT WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE, OR THAT DEFECTS, IF ANY, WILL BE CORRECTED; NOR DO WE MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THIS WEB SITE OR ITS CONTENT OR AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH USE OF THIS WEB SITE.  YOU UNDERSTAND AND AGREE THAT ANY CONTENT AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THIS WEB SITE IS AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH CONTENT AND/OR DATA.
</p>

<h2>Copyright notice</h2>

<p>
  The website is copyrighted in 2009 by South Dakota State University (SDSU), and SDSU reserves all rights. You have permission to use and distribute the file in any non-commercial manner (you may not charge or demand payment from anyone for the use or distribution of this file). You must not remove or alter the copyright notice with this website in any copy you distribute. You may remove the notice from your own copy that you do not give to anyone else. Commercial use with the permission of the author only.
</p>
