<% content_for :title, "Fertiliser Seed Calculator - Theory" %>
<% content_for :description, "Theory behind the fertiliser and seed decision aid calculator." %>
<% content_for :keywords, "estimating fertilizer rates, estimating fertiliser rates, decision aid, fertilizer decision aid, fertiliser decision aid, fertilizer, fertilizer rates, fertilizer seed ratio, fertiliser, fertiliser rates, fertiliser seed ratio, fertiliser calculator, fertilizer calculator" %>
<%= currently_at 'Theory' %>

<h1>Theory</h1>

<p>
  The data and calculations used on this website are taken from the report 
  <strong>
    Decision Aid for Estimating Seed-Placed Fertilizer Rates
  </strong>
  published on December 31, 2008 by
  <strong>
    R.H. Gelderman
  </strong>
  from the 
  <strong>
    Plant Science Department, South Dakota State University.
  </strong>
  The document is available for download below.
</p>

<p>
  <%= link_to image_tag("pdficon_large.png"), "final_report.pdf" %> 
  <strong>Decision Aid for Estimating Seed-Placed Fertilizer Rates - Final Report</strong>
  can be downloaded <%= link_to "here", "final_report.pdf" %>.
</p>

<p>
  <strong>
    Acknowledgements
  </strong>
</p>
  <ul>
    <li>
      The International Plant Nutrient Institute (IPNI) for its support with this work.
    </li>
    <li>
      Joseph Schumacher (SDSU) for his help with assembling this program.
    </li>
    <li>
      D. Andrews, C. Morris, A. Bly (SDSU) for their very capable technical support.
    </li>
  </ul>
