development:
  adapter: postgresql
  encoding: unicode
  database: fasdac_development
  pool: 5
  username: fasdac
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: fasdac_test
  pool: 5
  username: fasdac
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: fasdac_production
  pool: 5
  username: fasdac
  password:
