<% content_for :title, "Fertiliser Seed Calculator - Home" %>
<% content_for :description, "Fertiliser and seed decision aid calculator for calculating rates of fertiliser to go with seed when sowing." %>
<% content_for :keywords, "estimating fertilizer rates, estimating fertiliser rates, decision aid, fertilizer decision aid, fertiliser decision aid, fertilizer, fertilizer rates, fertilizer seed ratio, fertiliser, fertiliser rates, fertiliser seed ratio, fertiliser calculator, fertilizer calculator" %>
<%= currently_at 'Calculator' %>

<h1><%= t('.title') %></h1>

<section id="input">
  <%= render 'input_form' %>
</section>

<section id='output'>
  <%= render 'output' %> 
</section>
