<h1>Fertiliser And Seed Decision Aid Calculator</h1>
<%= currently_at 'Calculator' %>

<section id="input">
  <%= render 'input_form' %>
</section>

<section id='output'>
  <%= render 'output_form' %> 
</section>
