fieldset {
  margin-bottom: 10px;
  height: 660px;

  legend {
    text-align: center;
    font-size: 150%;
    }

  label {
    display: block;
  }

  label.terms {
    display: inline;
  }
  
  input[type="submit"] {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #807c77) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #807c77 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#333333;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    &:hover {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #807c77), color-stop(1, #ffffff) );
      background:-moz-linear-gradient( center top, #807c77 5%, #ffffff 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff');
      background-color:#d1d1d1;
    }
    &:active {
      position:relative;
      top:1px;
    }
  }

  li a#print-pdf-link {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #807c77) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #807c77 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#333333;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    &:hover {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #807c77), color-stop(1, #ffffff) );
      background:-moz-linear-gradient( center top, #807c77 5%, #ffffff 100% );
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff');
      background-color:#d1d1d1;
    }
    &:active {
      position:relative;
      top:1px;
    }
  }
  	
  li a img.info_icon {
    opacity:0.5;
    &:hover {
      opacity: 1.0;
      -webkit-transition:  all 0.3s ease-in-out;
      -moz-transition:  all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }

  span#error_seed_furrow_opening_width {
    padding-left: 5px;
    color:red;
    font-size:75%;
  }

  span#error_row_spacing {
    padding-left: 5px;
    color:red;
    font-size:75%;
  }

  span#error_tolerated_stand_loss {
    padding-left: 5px;
    color:red;
    font-size:75%;
  }

  span#error_terms_of_service {
    padding-left: 5px;
    color:red;
    font-size:75%;
  }

  div.field_with_errors {
    display: inline;
  }

  ol {
    list-style-type: none;
  }  
}
