html, body {
  height: 100%;
}

header#page_header {
	background-color: #000;
	color: #fff; 
	height: 75px; 
	overflow: hidden; 
	padding: 10px 20px;
	padding-bottom: 10px;
	
	nav#utility { 
		float: right; 
		font-size: 1.0em;
	}
}

section#alerts {
  padding: 10px 10px 10px 10px;
}

div.social_links {
	display: inline;
}

section#content {
  overflow:auto;
  padding-bottom: 70px;
}

section#input {

}

section#output {

}

footer#page_footer {
  text-align: center;
  background-color: #807c77;
  color: #fff;
  font-size: 0.7em;
  height: 70px;
  padding: 10px 20px;
  margin-top: -70px;
  clear:both;
  position: relative;

  ul {
		text-align: center;
    margin-left: -10px;
    padding: 0;

    li {
      display: inline;
      &:last-child {
        border-right: none;
      }

      a {
        padding: 5px 10px;
        &:link,
        &:hover,
        &:visited,
        &.active {
          color: #fff;
        }
      }
    }
  }
}
