nav#main_nav { 
	float: right;
	padding-top: 44px;

	li {
		background: #fff; 
		display: inline-block; 
		margin-right: 2px; 
		padding: 4px 6px;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-topright: 10px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		a, a:link, a:visited { 
			color: #000;
			text-decoration: none;
			padding-left: 3px;
			padding-right: 3px;
		}
		&.locale {
		  	background: #fff;
  			display: inline-block; 
  			margin-right: 2px; 
  			padding: 0px;
		}
		&.active {
			background: #fff;
			a,
			a:link,
			a:visited {
				color: #000; 
				font-weight: bold;
			}
		}
	}
}