table {
  border-collapse:separate;
  border-spacing:3px 3px;
}

th {
  background-color:#000;
  color:#fff;
}

td:nth-of-type(even) {
  background-color:#F3F3F3;
}

td:nth-of-type(odd) {
  background-color:#ddd;
}

td:nth-child(n+2) {
  text-align:center;
}
