<header id="page_header" role="banner"> 
	<nav id="utility">
	</nav>
	<%= link_to( image_tag("sdsu_logo.jpg", alt: "SDSU Logo", id: "sdsu_logo"), "http://www.sdstate.edu", title: "South Dakota State University" ) %>
	<%= link_to( image_tag("ipni_logo.jpg", alt: "IPNI Logo", id: "ipni_logo"), "http://www.ipni.net", title: "International Plant Nutrition Institue" ) %>
	<%= yield :main_navigation %>
</header>