<% content_for :main_navigation do %>
	<nav id="main_nav" role="navigation">
		<ul>
			<%= nav_tab 'Calculator', root_path, current: current_tab %>
			<%= nav_tab 'Downloads', admin_crops_path, current: current_tab %>
			<%= nav_tab 'Disclaimer', admin_fertilisers_path, current: current_tab %>
		</ul>
	</nav>
<% end %>